version: v3
teleport:
  data_dir: /var/lib/teleport
  join_params:
    token_name: /var/lib/teleport/jointoken
    method: token
  log:
    output: stderr
    severity: INFO
    format:
      output: text
  ca_pin: []
  diag_addr: ""
  proxy_server: ${auth_address}
auth_service:
    enabled: false
proxy_service:
    enabled: false
ssh_service:
  enabled: "yes"
  labels:
    role: target
  commands:
  - name: hostname
    command: [hostname]
    period: 1m0s
  - name: arch
    command: [uname, -p]
    period: 1h0m0s
  - name: kernel
    command: [uname, -r]
    period: 1h0m0s
  - name: uptime
    command: [uptime, -p]
    period: 1h0m0s
app_service:
  enabled: true
  apps:
  - name: gcp-cli-gke-access
    cloud: GCP
    labels:
      gcp_sa: "dk-gke-access@weighty-planet-305123.iam.gserviceaccount.com"
      cloud: gcp
  - name: gcp-cli-vm-access
    cloud: GCP
    labels:
      gcp_sa: "dk-teleport-vm-viewer@weighty-planet-305123.iam.gserviceaccount.com"
      cloud: gcp